/*ESTILOS FOOTER*/
#footer {
    height: auto;
    padding: 10px 10px;
    width: 100%;
    background-color: rgb(136, 171, 142);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
}
.footer__logo img {
    width: 100px;
    height: 100px;
}
.footer__links ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    padding: 0;
}
.footer__links ul li a {
    color: white
}
.footer__redes img {
    padding: 4px;
    width: 40px;
    height: 40px;
    margin: 5px;
}
/*RESPONSIVE 926 PX*/
@media (max-width: 926px) {
    .footer__redes img {
        padding: 4px;
        width: 35px;
        height: 35px;
        margin: 5px;
    }
    .footer__redes {
        display: flex;
        flex-direction: row;
    }
}
/*RESPONSIVE 768 PX*/
@media (max-width: 768px) {
    .footer__redes img {
        padding: 4px;
        width: 30px;
        height: 30px;
        margin: 5px;
    }
    .footer__redes {
        display: flex;
        flex-direction: row;
    }
}
/*RESPONSIVE 480 PX*/
@media (max-width: 480px) {
    #footer {
        flex-direction: column;
    }
}