/*RESET DEL INDEX*/
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200&family=Trocchi&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora';
}

a,
li {
    font-style: none;
    text-decoration: none;
    display: inline-block;
}
body {
    max-width: 1440px;
    margin: 0 auto;
}
main {
    min-height: 100vh;
}

/*ESTILOS HEADER*/
.navbar {
    background-color: rgba(184, 160, 255, 1);
}
.container-fluid img {
width: 100px;
}
#navbarNav ul li a{
    color: white;
}

/*ESTILOS FOOTER*/
#footer {
    height: auto;
    padding: 10px 10px;
    width: 100%;
    background-color: rgba(184, 160, 255, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
    gap: 200px;
}
.footer__logo img {
    width: 100px;
    height: 100px;
}
.footer__links ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
}
.footer__links ul li a {
    color: white
}
.footer__redes img {
    padding: 4px;
    width: 40px;
    height: 40px;
    margin: 5px;
}

/*ESTILOS DEL BODY INDEX*/
#banner {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
}
#banner img {
    width: 80%;
}

.banner__textoportada h1 {
    font-size: 30px;
    text-align: center;
}
.banner__textoportada p {
    font-size: 25px;
}
#banner .bannerBoton {
    width: 120px;
    height: 60px;
    background-color: rgba(184, 160, 255, 1);
    border-radius: 20px;
    margin: auto;
    text-align: center;
}

.bannerBoton a {
    color: white;
    font-size: 15px;
}

#testimonios {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.testimonios__pacientes , .testimonios__equipo {
    width: 30%;
    height: 40%;
    background-color: whitesmoke;
    overflow: auto; /*AJUSTE DE CONTENIDO CON RESPECTO AL TAMAÑO DE CAJA*/
    padding: 10px; /*ESPACIO INTERIOR*/
    border-radius: 35px;
}
#testimonios h2 {
    font-size: 30px;
}
#testimonios p {
    font-size: 20px;
}
#turnos {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.turnos__textos h2 {
display: flex;
justify-content: center;
text-align: center;
font-size: 30px;
}
.turnos__textos a {
    font-size: 20px;
    color: white;
    }


.turnos__cuadros {
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 10px;
    margin-top: 50px;
    flex-wrap: wrap;
}
#turnos .estiloArt {
    width: 150px;
    height: 150px;
    overflow: auto;
    padding: 30px;
    text-align: center;
    background-color: rgba(184, 160, 255, 1);
    border-radius: 25px;
}
.estiloArt h3 {
    font-size: 18px;
}
#turnos .turnosBoton {
    width: 120px;
    height: 60px;
    background-color: rgba(184, 160, 255, 1);
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*ESTILOS MAIN EQUIPO*/
#profesionales {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
}

.texto__profesionales h1, h2 {
    height: 80px;
    justify-content: center;
    text-align: center;
}
.mainEquipo {
min-height: 100vh;
background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
}

.profesionalesApartado {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    overflow: auto;
    gap: 15px;
    padding: 5px;
    margin: 15px;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(245, 245, 245, 0.542);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.192);
}
.profesionalesApartado p {
    font-size: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.profPsico {
    width: 80%;
    height:70%;
    border-radius: 100%;
}

#formEquipo {
    width: 100%;
    height: auto;
}
#formEquipo .optionsForm {
    width: 30%;
    height: 30%;
}

/*ESTILOS MAIN QUIENES SOMOS*/

#textoQuienesSomos h1, ul, p {
    font-size: 30px;
    text-align: center;
}
.imageQuienesSomos img {
    width: 40%;
    height: 50%;
    display: flex;
    position: relative;
    margin-top: o;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

/*ESTILOS SERVICIOS*/
#servicios {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#servicios h1 {
    font-size: 30px;
}
#servicios h2 {
    font-size: 20px;
}

#servicios .serviciosCajas {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

    #servicios img {
    width: 500px;
    height: 500px;
    border-radius: 50px;
}

/*ESTILOS MAIN TURNOS*/

#encabezadoTurnos .estiloTurno {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100px;
    font-size: 20px;
}

.formTurnos {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    margin-top: 30px;
    font-size: 20px;
}

/*RESPONSIVE 926 PX*/
@media (max-width: 926px) {
    .footer__redes img {
        padding: 4px;
        width: 35px;
        height: 35px;
        margin: 5px;
    }
    .footer__redes {
        display: flex;
        flex-direction: row;
    }
}

/*RESPONSIVE 768 PX*/
@media (max-width: 768px) {
    .container-fluid img {
        width: 80px;
        }
    .footer__redes img {
        padding: 4px;
        width: 30px;
        height: 30px;
        margin: 5px;
    }
    .footer__redes {
        display: flex;
        flex-direction: row;
    }
    .banner__textoportada h1 {
        font-size: 20px;
        text-align: center;
    }
    .banner__textoportada p {
        font-size: 15px;
    }
    #banner .bannerBoton {
        width: 80px;
        height: 30px;
        background-color: rgba(184, 160, 255, 1);
        border-radius: 20px;
        margin-top: 10px;
    }
    
    .bannerBoton a {
        color: white;
        font-size: 10px;
    }
    
    #testimonios {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        margin-bottom: 50px;
    }
    .testimonios__pacientes , .testimonios__equipo {
        width: 45%;
        height: 50%;
        background-color: whitesmoke;
        border-radius: 35px;
    }
    #testimonios h2 {
        font-size: 20px;
    }
    #testimonios p {
        font-size: 15px;
    }
    .turnos__textos h2 {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 20px;
        }
        .turnos__textos a {
            font-size: 15px;
            color: white;
            }
}

/*RESPONSIVE 480 PX*/
@media (max-width: 480px) {
    .footer__redes img {
        padding: 4px;
        width: 20px;
        height: 20px;
        margin: 5px;
    }
    .footer__redes {
        display: flex;
        flex-direction: row;
    }
    .banner__textoportada h1 {
        font-size: 15px;
        text-align: center;
    }
    .banner__textoportada p {
        font-size: 10px;
    }
    #banner .bannerBoton {
        width: 80px;
        height: 30px;
        background-color: rgba(184, 160, 255, 1);
        border-radius: 20px;
        margin-top: 5px;
    }
    
    .bannerBoton a {
        color: white;
        font-size: 10px;
    }

    #testimonios {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        margin-bottom: 50px;
    }
    .testimonios__pacientes , .testimonios__equipo {
        width: 45%;
        height: 50%;
        background-color: whitesmoke;
        border-radius: 35px;
    }
}