/*ESTILOS MAIN EQUIPO*/
#profesionales {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
}
.mainEquipo {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.texto__profesionales {
    width: 80%;
    margin: auto;
}
.texto__profesionales h1, h2 {
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}
.texto__profesionales h1 {
    font-size: 28px;
}
.texto__profesionales h2 {
    font-size: 25px;
}
#formEquipo h2 {
    font-size: 28px;
}
#formEquipo p {
    font-size: 25px;
}

#formEquipo input {
    margin-bottom: 5px;
}
.form-select {
    width: 50%;
}


.profesionalesApartado {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    overflow: auto;
    gap: 15px;
    padding: 5px;
    margin: 15px;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(175, 200, 173, 0.843);
    border-radius: 12px;
    border: 1px solid rgba(242, 241, 235, 0.305);
}
.profesionalesApartado p {
    font-size: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.profPsico {
    width: 80%;
    height:70%;
    border-radius: 100%;
    filter: grayscale(8);
}

#formEquipo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}
#formEquipo .optionsForm {
    width: 50%;
    height: 50%;
    background-color: rgb(175, 200, 173);
    padding: 30px;
    margin-bottom: 50px;
    border-radius: 20px;
}
/*RESPONSIVE 480 PX*/
@media (max-width: 480px) {
    #formEquipo .optionsForm {
        width: 80%;
        height: 90%;
    }
    .texto__profesionales h1 {
        font-size: 20px;
    }
    .texto__profesionales h2 {
        font-size: 20px;
    }
    #formEquipo h2 {
        font-size: 20px;
    }
    #formEquipo p {
        font-size: 17px;
    }
}